.component.banner-slideshow .caption {
  position: absolute;
  left: 0%;
  right: 0%;
}

.caption.caption-top{
  top:0
}

.caption.caption-middle{
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.caption.caption-bottom{
  bottom:0
}

.component.banner-slideshow .caption .title{
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.component.banner-slideshow .caption .description{
  display: block;
  text-align: center;
  color: #666;
  font-weight: bold;
}

.component.banner-slideshow .banner-slick{
  margin-bottom: 0px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.component.banner-slideshow .banner-item{
  position: relative;
}

.component.banner-slideshow .banner-item img.img-responsive{
  width:100%
}

.component.banner-slideshow .slick-prev, .component.banner-slideshow .slick-next
{z-index: 1;opacity: .8;}

.component.banner-slideshow .slick-prev
{
    left: 10px;
}

.component.banner-slideshow .slick-next
{
    right: 10px;
}

.component.banner-slideshow .slick-prev:before,
.component.banner-slideshow .slick-next:before {
  color: black;
}

.component.banner-slideshow .slick-dots{
  bottom: 4px;
}

.component.banner-slideshow .slick-slide {
/*   transition: all ease-in-out .3s; */
/*   opacity: .2; */
}

.component.banner-slideshow .slick-active {
/*   opacity: .5; */
}

.component.banner-slideshow .slick-current {
/*   opacity: 1; */
}